.App {
  font-family: sans-serif;
  text-align: center;
}
body {
  text-align: center;
}
h1 {
  font-size: 34px;
}
p {
  font-size: 20px;
}
button {
  margin: 11px;
  padding: 10px 20px;
  border-radius: 30px;
  background-color: #fbd38d;
  border: solid #f6ad55;
  cursor: pointer;
}
li {
  text-align: left;
  list-style: none;
  margin: 15px;
  padding: 17px 25px;
  background-color: #e6fffa;
  border-radius: 10px;
}
